.place__paragraph-container {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 26px;
}

@media (max-width: 1024px) {
    .place__paragraph-container {
        row-gap: 27px; 
    }
}

@media (max-width: 768px) {
    .place__paragraph-container {
        row-gap: 25px; 
    }
}

@media (max-width: 425px) {
    .place__paragraph-container {
        max-width: 288px;
        margin: 0 auto;
    }
}
