.lead__title {
    margin: 0;
    padding-top: 50px;
    max-width: 720px;
    font-family: inherit;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    line-height: 100px;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__title {
        padding-top: 48px;
        max-width: 720px;
    }
}

@media (max-width: 700px) {
    .lead__title {
        max-width: 425px;
        font-size: 45px;
        line-height: 45px;
    }
}

@media (max-width: 425px) {
    .lead__title {
        padding-top: 48px;
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}