.place_position_center {
    margin: 0;
    padding-top: 80px;
    }

.place_position_center:first-child {
    padding-top: 0;
}

@media (max-width: 768px) {
    .place_position_center {
        max-width: 720px;
        margin: 0 auto;
        padding-top: 73px;
    }
}


@media (max-width: 425px) {
    .place_position_center {
        padding-top: 50px;
    }
}